html {
  background-color: azure;
}

.midashi {
  color: rgba(13, 196, 187, 0.918);
}

.link {
  background-color: rgb(219, 226, 225);
  display: flex;
  flex-direction: column;
  /* 「flex-direction」プロパティは、flexコンテナの主軸の方向を設定することにより、flexアイテムがflexコンテナでどのように配置されるか明示します。方向は2種類で、横列の水平、縦列の垂直に配置できます。 */
  /* flex-direction: column; 上から下へ垂直方向に配置。 */
  /* https://coliss.com/articles/build-websites/operation/css/css3-flexbox-properties-by-scotch.html */
  align-items: center;
}

a {
  font-size: 20px;
}

.preview_card,
.sikaku_card,
.profile_card {
  line-height: 400px;
}
/* line-heightとは
line-heightプロパティを使用すると、文章の行間の広さを設定することができます。 */
/* https://techacademy.jp/magazine/8615 */
